<!-- Header -->
<div class="max-w-3xl mx-auto mt-12">
  <div class="flex justify-center space-x-8 mb-6">
    <a
      href="/u/<%= user.id %>/a/donasi"
      class="pb-2 font-semibold text-primary border-b-2 border-primary"
    >
      Akun saya
    </a>
  </div>
</div>

<!-- Isi -->
<div
  class="max-w-4xl mx-auto px-4 py-8 space-y-6 bg-white rounded-xl shadow-md"
>
  <!-- Header -->
  <div class="bg-white p-6 rounded-xl shadow">
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-4">
        <img
          src="/images/default.png"
          alt="Avatar"
          class="w-16 h-16 rounded-full object-cover"
        />
        <div>
          <h2 class="text-xl font-semibold">Jack Adams</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Personal Information -->
  <div class="bg-white p-6 rounded-xl shadow">
    <div class="flex justify-between items-start mb-4">
      <h3 class="text-lg font-semibold">Informasi Pribadi</h3>
      <button
        class="text-sm text-primary hover:underline flex items-center gap-1"
      >
        <i class="fas fa-pen mr-2"></i> Edit
      </button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm text-gray-700">
      <div>
        <p class="font-medium text-gray-500">Nama</p>
        <p>Ardanu Egitya Ash Shafah</p>
      </div>
      <div>
        <p class="font-medium text-gray-500">Email</p>
        <p>ardanuash@gmail.com</p>
      </div>
      <div>
        <p class="font-medium text-gray-500">No Telepon</p>
        <p>089699997929</p>
      </div>
      <div>
        <p class="font-medium text-gray-500">Alamat</p>
        <p>Raya Rungkut Menanggal 27</p>
      </div>
    </div>
  </div>
</div>
