<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('../partials/navbar'); %></header>

    <main class="flex mt-30">
      <!-- Side Navbar -->
      <%- include('../partials/sidenavLembaga'); %>
      <!-- Literal Main -->
      <section class="ml-30 w-full max-w-7xl mx-auto">
        <%- include('../partials/mainLembaga'); %>
      </section>
    </main>
  </body>
</html>
