<section class="bg-primary text-white py-16">
  <div
    class="max-w-7xl mx-auto px-6 flex flex-col-reverse lg:flex-row items-center gap-12"
  >
    <!-- Kiri: Teks -->
    <div class="lg:w-1/2 text-center lg:text-left">
      <h1 class="text-3xl lg:text-4xl font-bold leading-snug mb-4">
        Menjadi lebih baik dengan
        <span class="font-semibold">Rumah Donasi</span>
      </h1>
      <p class="text-lg mb-6">
        Dapatkan kemudahan dalam berdonasi untuk membantu orang yang membutuhkan
        dengan mudah dan cepat.
      </p>
    </div>

    <!-- Kanan: Gambar -->
    <div class="lg:w-1/2 flex justify-center">
      <img
        src="/images/mockup-app.png"
        class="w-[250px] md:w-[320px] lg:w-[400px] h-[250px] md:h-[320px] lg:h-[400px]"
      ></img>
    </div>
  </div>
</section>
