<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Rumah Donasi</title>
<link href="/css/tailwind.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@10/swiper-bundle.min.css"
/>
<link rel="shortcut icon" href="/images/logo-green.png" type="image/x-icon" />
<link rel="apple-touch-icon" href="/images/logo-green.png" />
<script
  src="https://kit.fontawesome.com/dd294127f9.js"
  crossorigin="anonymous"
></script>
