<main class="pt-24 md:pl-64 px-4">
  <!-- Akun -->
  <% if(currentPath === '/akun') { %> <%-
  include('../partials/mainaccpart/akun'); %> <% } %>
  <!-- Donasi -->
  <% if(currentPath === '/akun/histori') { %> <%-
  include('../partials/mainaccpart/donasisaya'); %> <% } %>
  <!-- Inbox -->
  <% if(currentPath === '/akun/pesan') { %> <%-
  include('../partials/mainaccpart/inbox'); %> <% } %>
</main>