<a
  href="<%= link %>"
  class="flex items-center justify-center space-x-3 hover:bg-dull hover:shadow-md rounded-xl p-4 transition-colors"
>
  <img
    class="w-12 h-12"
    src="/images/<%= image %>.png"
    alt="Ikon Bencana Alam"
  />
  <span class="text-lg font-medium"><%= text %></span>
</a>
