<a href="/" class="swiper-slide">
  <div class="aspect-[3/1] w-full">
    <img
      src="/images/swiper/1.jpg"
      alt="Mozza Banner 1"
      class="w-full h-full object-cover rounded-xl"
    />
  </div>
</a>
<a href="/" class="swiper-slide">
  <div class="aspect-[3/1] w-full">
    <img
      src="/images/swiper/2.jpg"
      alt="Mozza Banner 2"
      class="w-full h-full object-cover rounded-xl"
    />
  </div>
</a>
<a href="/" class="swiper-slide">
  <div class="aspect-[3/1] w-full">
    <img
      src="/images/swiper/3.jpg"
      alt="Mozza Banner 3"
      class="w-full h-full object-cover rounded-xl"
    />
  </div>
</a>
